.heading {
  text-align: center;
  color: crimson;
  background-color: darkgray;
  margin-top: -20px;
  padding: 15px;
}
.buttons .btn {
  display: flex;
  border-radius: 20px;
  margin: 10px auto;
  border: none;
  color: white;
  background-color: cadetblue;
  padding: 10px;
}
